source/WebServiceProxies/WSDL/schemas.evosnap.com_CWS_v2.0_Transactions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.evosnap.com/CWS/v2.0/Transactions" elementFormDefault="qualified" targetNamespace="http://schemas.evosnap.com/CWS/v2.0/Transactions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="schemas.microsoft.com_2003_10_Serialization_Arrays.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="schemas.microsoft.com_2003_10_Serialization.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="schemas.evosnap.com_CWS_v2.0_Transactions_Bankcard.xsd" namespace="http://schemas.evosnap.com/CWS/v2.0/Transactions/Bankcard" />
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="Status" type="tns:Status" />
      <xs:element minOccurs="0" name="StatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginatorTransactionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceTransactionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceTransactionDateTime" nillable="true" type="tns:ServiceTransactionDateTime" />
      <xs:element minOccurs="0" name="Addendum" nillable="true" type="tns:Addendum" />
      <xs:element minOccurs="0" name="CaptureState" type="tns:CaptureState" />
      <xs:element minOccurs="0" name="TransactionState" type="tns:TransactionState" />
      <xs:element minOccurs="0" name="IsAcknowledged" type="xs:boolean" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
  <xs:simpleType name="Status">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotSet" />
      <xs:enumeration value="Successful" />
      <xs:enumeration value="Failure" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
  <xs:complexType name="ServiceTransactionDateTime">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeZone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceTransactionDateTime" nillable="true" type="tns:ServiceTransactionDateTime" />
  <xs:complexType name="Addendum">
    <xs:sequence>
      <xs:element minOccurs="0" name="Unmanaged" nillable="true" type="tns:Unmanaged" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Addendum" nillable="true" type="tns:Addendum" />
  <xs:complexType name="Unmanaged">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Any" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Unmanaged" nillable="true" type="tns:Unmanaged" />
  <xs:complexType name="ArrayOfCaptureState">
		<xs:sequence>
			<xs:element name="CaptureState" type="tns:CaptureState" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfCaptureState" type="tns:ArrayOfCaptureState" nillable="true"/>
	<xs:complexType name="ArrayOfTransactionState">
		<xs:sequence>
			<xs:element name="TransactionState" type="tns:TransactionState" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfTransactionState" type="tns:ArrayOfTransactionState" nillable="true"/>
  <xs:simpleType name="CaptureState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotSet" />
      <xs:enumeration value="CannotCapture" />
      <xs:enumeration value="ReadyForCapture">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CapturePending">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Captured">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CaptureDeclined">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InProcess">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CapturedUndoPermitted">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CapturePendingUndoPermitted">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CaptureError">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CaptureUnknown">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BatchSent">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">12</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BatchSentUndoPermitted">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">13</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CaptureState" nillable="true" type="tns:CaptureState" />
  <xs:simpleType name="TransactionState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotSet" />
      <xs:enumeration value="Declined" />
      <xs:enumeration value="Verified" />
      <xs:enumeration value="Authorized" />
      <xs:enumeration value="Adjusted" />
      <xs:enumeration value="Captured" />
      <xs:enumeration value="CaptureDeclined" />
      <xs:enumeration value="PartiallyCaptured" />
      <xs:enumeration value="Undone" />
      <xs:enumeration value="ReturnRequested" />
      <xs:enumeration value="PartialReturnRequested" />
      <xs:enumeration value="ReturnUndone" />
      <xs:enumeration value="Returned" />
      <xs:enumeration value="PartiallyReturned" />
      <xs:enumeration value="InProcess" />
      <xs:enumeration value="ErrorValidation" />
      <xs:enumeration value="ErrorUnknown" />
      <xs:enumeration value="ErrorConnecting" />
      <xs:enumeration value="FundsRequested" />
      <xs:enumeration value="FundsTransferred" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TransactionState" nillable="true" type="tns:TransactionState" />
  <xs:simpleType name="IndustryType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotSet" />
      <xs:enumeration value="MOTO" />
      <xs:enumeration value="Ecommerce" />
      <xs:enumeration value="Restaurant" />
      <xs:enumeration value="Retail" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="IndustryType" nillable="true" type="tns:IndustryType" />
  <xs:complexType name="SummaryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CashBackTotals" nillable="true" type="tns:SummaryTotals" />
      <xs:element minOccurs="0" name="CreditReturnTotals" nillable="true" type="tns:SummaryTotals" />
      <xs:element minOccurs="0" name="CreditTotals" nillable="true" type="tns:SummaryTotals" />
      <xs:element minOccurs="0" name="DebitReturnTotals" nillable="true" type="tns:SummaryTotals" />
      <xs:element minOccurs="0" name="DebitTotals" nillable="true" type="tns:SummaryTotals" />
      <xs:element minOccurs="0" name="NetTotals" nillable="true" type="tns:SummaryTotals" />
      <xs:element minOccurs="0" name="VoidTotals" nillable="true" type="tns:SummaryTotals" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SummaryData" nillable="true" type="tns:SummaryData" />
  <xs:complexType name="SummaryTotals">
    <xs:sequence>
      <xs:element minOccurs="0" name="NetAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Count" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SummaryTotals" nillable="true" type="tns:SummaryTotals" />
  <xs:simpleType name="CVResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotSet" />
      <xs:enumeration value="Match" />
      <xs:enumeration value="NoMatch" />
      <xs:enumeration value="NotProcessed" />
      <xs:enumeration value="NoCodePresent" />
      <xs:enumeration value="ShouldHaveBeenPresent" />
      <xs:enumeration value="IssuerNotCertified" />
      <xs:enumeration value="Invalid" />
      <xs:enumeration value="NoResponse" />
      <xs:enumeration value="NotApplicable" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CVResult" nillable="true" type="tns:CVResult" />
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerData" nillable="true" type="tns:TransactionCustomerData" />
      <xs:element minOccurs="0" name="ReportingData" nillable="true" type="tns:TransactionReportingData" />
      <xs:element minOccurs="0" name="Addendum" nillable="true" type="tns:Addendum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
  <xs:complexType name="TransactionCustomerData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillingData" nillable="true" type="tns:CustomerInfo" />
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerTaxId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingData" nillable="true" type="tns:CustomerInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionCustomerData" nillable="true" type="tns:TransactionCustomerData" />
  <xs:complexType name="CustomerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="tns:NameInfo" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:AddressInfo" />
      <xs:element minOccurs="0" name="InternationalAddress" nillable="true" type="tns:InternationalAddressInfo" />
      <xs:element minOccurs="0" name="BusinessName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerInfo" nillable="true" type="tns:CustomerInfo" />
  <xs:complexType name="NameInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="First" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Middle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Last" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Suffix" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NameInfo" nillable="true" type="tns:NameInfo" />
  <xs:complexType name="AddressInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Street1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="County" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" type="tns:TypeISOCountryCodeA3" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressInfo" nillable="true" type="tns:AddressInfo" />
  <xs:simpleType name="TypeISOCountryCodeA3">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotSet" />
      <xs:enumeration value="AFG" />
      <xs:enumeration value="ALA" />
      <xs:enumeration value="ALB" />
      <xs:enumeration value="DZA" />
      <xs:enumeration value="ASM" />
      <xs:enumeration value="AND" />
      <xs:enumeration value="AGO" />
      <xs:enumeration value="AIA" />
      <xs:enumeration value="ATA" />
      <xs:enumeration value="ATG" />
      <xs:enumeration value="ARG" />
      <xs:enumeration value="ARM" />
      <xs:enumeration value="ABW" />
      <xs:enumeration value="AUS" />
      <xs:enumeration value="AUT" />
      <xs:enumeration value="AZE" />
      <xs:enumeration value="BHS" />
      <xs:enumeration value="BHR" />
      <xs:enumeration value="BGD" />
      <xs:enumeration value="BRB" />
      <xs:enumeration value="BLR" />
      <xs:enumeration value="BEL" />
      <xs:enumeration value="BLZ" />
      <xs:enumeration value="BEN" />
      <xs:enumeration value="BMU" />
      <xs:enumeration value="BTN" />
      <xs:enumeration value="BOL" />
      <xs:enumeration value="BIH" />
      <xs:enumeration value="BWA" />
      <xs:enumeration value="BVT" />
      <xs:enumeration value="BRA" />
      <xs:enumeration value="IOT" />
      <xs:enumeration value="BRN" />
      <xs:enumeration value="BGR" />
      <xs:enumeration value="BFA" />
      <xs:enumeration value="BDI" />
      <xs:enumeration value="KHM" />
      <xs:enumeration value="CMR" />
      <xs:enumeration value="CAN" />
      <xs:enumeration value="CPV" />
      <xs:enumeration value="CYM" />
      <xs:enumeration value="CAF" />
      <xs:enumeration value="TCD" />
      <xs:enumeration value="CHL" />
      <xs:enumeration value="CHN" />
      <xs:enumeration value="CXR" />
      <xs:enumeration value="CCK" />
      <xs:enumeration value="COL" />
      <xs:enumeration value="COM" />
      <xs:enumeration value="COG" />
      <xs:enumeration value="COD" />
      <xs:enumeration value="COK" />
      <xs:enumeration value="CRI" />
      <xs:enumeration value="CIV" />
      <xs:enumeration value="HRV" />
      <xs:enumeration value="CUB" />
      <xs:enumeration value="CYP" />
      <xs:enumeration value="CZE" />
      <xs:enumeration value="DNK" />
      <xs:enumeration value="DJI" />
      <xs:enumeration value="DMA" />
      <xs:enumeration value="DOM" />
      <xs:enumeration value="ECU" />
      <xs:enumeration value="EGY" />
      <xs:enumeration value="SLV" />
      <xs:enumeration value="GNQ" />
      <xs:enumeration value="ERI" />
      <xs:enumeration value="EST" />
      <xs:enumeration value="ETH" />
      <xs:enumeration value="FLK" />
      <xs:enumeration value="FRO" />
      <xs:enumeration value="FJI" />
      <xs:enumeration value="FIN" />
      <xs:enumeration value="FRA" />
      <xs:enumeration value="FXX" />
      <xs:enumeration value="GUF" />
      <xs:enumeration value="PYF" />
      <xs:enumeration value="ATF" />
      <xs:enumeration value="GAB" />
      <xs:enumeration value="GMB" />
      <xs:enumeration value="GEO" />
      <xs:enumeration value="DEU" />
      <xs:enumeration value="GHA" />
      <xs:enumeration value="GIB" />
      <xs:enumeration value="GRC" />
      <xs:enumeration value="GRL" />
      <xs:enumeration value="GRD" />
      <xs:enumeration value="GLP" />
      <xs:enumeration value="GUM" />
      <xs:enumeration value="GTM" />
      <xs:enumeration value="GGY" />
      <xs:enumeration value="GIN" />
      <xs:enumeration value="GNB" />
      <xs:enumeration value="GUY" />
      <xs:enumeration value="HTI" />
      <xs:enumeration value="HMD" />
      <xs:enumeration value="VAT" />
      <xs:enumeration value="HND" />
      <xs:enumeration value="HKG" />
      <xs:enumeration value="HUN" />
      <xs:enumeration value="ISL" />
      <xs:enumeration value="IND" />
      <xs:enumeration value="IDN" />
      <xs:enumeration value="IRN" />
      <xs:enumeration value="IRQ" />
      <xs:enumeration value="IRL" />
      <xs:enumeration value="IMN" />
      <xs:enumeration value="ISR" />
      <xs:enumeration value="ITA" />
      <xs:enumeration value="JAM" />
      <xs:enumeration value="JPN" />
      <xs:enumeration value="JEY" />
      <xs:enumeration value="JOR" />
      <xs:enumeration value="KAZ" />
      <xs:enumeration value="KEN" />
      <xs:enumeration value="KIR" />
      <xs:enumeration value="PRK" />
      <xs:enumeration value="KOR" />
      <xs:enumeration value="KWT" />
      <xs:enumeration value="KGZ" />
      <xs:enumeration value="LAO" />
      <xs:enumeration value="LVA" />
      <xs:enumeration value="LBN" />
      <xs:enumeration value="LSO" />
      <xs:enumeration value="LBR" />
      <xs:enumeration value="LBY" />
      <xs:enumeration value="LIE" />
      <xs:enumeration value="LTU" />
      <xs:enumeration value="LUX" />
      <xs:enumeration value="MAC" />
      <xs:enumeration value="MKD" />
      <xs:enumeration value="MDG" />
      <xs:enumeration value="MWI" />
      <xs:enumeration value="MYS" />
      <xs:enumeration value="MDV" />
      <xs:enumeration value="MLI" />
      <xs:enumeration value="MLT" />
      <xs:enumeration value="MHL" />
      <xs:enumeration value="MTQ" />
      <xs:enumeration value="MRT" />
      <xs:enumeration value="MUS" />
      <xs:enumeration value="MYT" />
      <xs:enumeration value="MEX" />
      <xs:enumeration value="FSM" />
      <xs:enumeration value="MDA" />
      <xs:enumeration value="MCO" />
      <xs:enumeration value="MNG" />
      <xs:enumeration value="MNE" />
      <xs:enumeration value="MSR" />
      <xs:enumeration value="MAR" />
      <xs:enumeration value="MOZ" />
      <xs:enumeration value="MMR" />
      <xs:enumeration value="NAM" />
      <xs:enumeration value="NRU" />
      <xs:enumeration value="NPL" />
      <xs:enumeration value="NLD" />
      <xs:enumeration value="ANT" />
      <xs:enumeration value="NCL" />
      <xs:enumeration value="NZL" />
      <xs:enumeration value="NIC" />
      <xs:enumeration value="NER" />
      <xs:enumeration value="NGA" />
      <xs:enumeration value="NIU" />
      <xs:enumeration value="NFK" />
      <xs:enumeration value="MNP" />
      <xs:enumeration value="NOR" />
      <xs:enumeration value="OMN" />
      <xs:enumeration value="PAK" />
      <xs:enumeration value="PLW" />
      <xs:enumeration value="PSE" />
      <xs:enumeration value="PAN" />
      <xs:enumeration value="PNG" />
      <xs:enumeration value="PRY" />
      <xs:enumeration value="PER" />
      <xs:enumeration value="PHL" />
      <xs:enumeration value="PCN" />
      <xs:enumeration value="POL" />
      <xs:enumeration value="PRT" />
      <xs:enumeration value="PRI" />
      <xs:enumeration value="QAT" />
      <xs:enumeration value="REU" />
      <xs:enumeration value="ROU" />
      <xs:enumeration value="RUS" />
      <xs:enumeration value="RWA" />
      <xs:enumeration value="SHN" />
      <xs:enumeration value="KNA" />
      <xs:enumeration value="LCA" />
      <xs:enumeration value="SPM" />
      <xs:enumeration value="VCT" />
      <xs:enumeration value="WSM" />
      <xs:enumeration value="SMR" />
      <xs:enumeration value="STP" />
      <xs:enumeration value="SAU" />
      <xs:enumeration value="SEN" />
      <xs:enumeration value="SRB" />
      <xs:enumeration value="SCG" />
      <xs:enumeration value="SYC" />
      <xs:enumeration value="SLE" />
      <xs:enumeration value="SGP" />
      <xs:enumeration value="SVK" />
      <xs:enumeration value="SVN" />
      <xs:enumeration value="SLB" />
      <xs:enumeration value="SOM" />
      <xs:enumeration value="ZAF" />
      <xs:enumeration value="SGS" />
      <xs:enumeration value="ESP" />
      <xs:enumeration value="LKA" />
      <xs:enumeration value="SDN" />
      <xs:enumeration value="SUR" />
      <xs:enumeration value="SJM" />
      <xs:enumeration value="SWZ" />
      <xs:enumeration value="SWE" />
      <xs:enumeration value="CHE" />
      <xs:enumeration value="SYR" />
      <xs:enumeration value="TWN" />
      <xs:enumeration value="TJK" />
      <xs:enumeration value="TZA" />
      <xs:enumeration value="THA" />
      <xs:enumeration value="TLS" />
      <xs:enumeration value="TGO" />
      <xs:enumeration value="TKL" />
      <xs:enumeration value="TMP" />
      <xs:enumeration value="TON" />
      <xs:enumeration value="TTO" />
      <xs:enumeration value="TUN" />
      <xs:enumeration value="TUR" />
      <xs:enumeration value="TKM" />
      <xs:enumeration value="TCA" />
      <xs:enumeration value="TUV" />
      <xs:enumeration value="UGA" />
      <xs:enumeration value="UKR" />
      <xs:enumeration value="ARE" />
      <xs:enumeration value="GBR" />
      <xs:enumeration value="USA" />
      <xs:enumeration value="UMI" />
      <xs:enumeration value="URY" />
      <xs:enumeration value="UZB" />
      <xs:enumeration value="VUT" />
      <xs:enumeration value="VEN" />
      <xs:enumeration value="VNM" />
      <xs:enumeration value="VGB" />
      <xs:enumeration value="VIR" />
      <xs:enumeration value="WLF" />
      <xs:enumeration value="ESH" />
      <xs:enumeration value="YEM" />
      <xs:enumeration value="YUG" />
      <xs:enumeration value="ZMB" />
      <xs:enumeration value="ZWE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TypeISOCountryCodeA3" nillable="true" type="tns:TypeISOCountryCodeA3" />
  <xs:complexType name="InternationalAddressInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="HouseNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POBoxNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" type="tns:TypeISOCountryCodeA3" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InternationalAddressInfo" nillable="true" type="tns:InternationalAddressInfo" />
  <xs:complexType name="PersonalInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DriversLicense" nillable="true" type="tns:DriversLicense" />
      <xs:element minOccurs="0" name="EmployeeIdNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GovernmentIdNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MilitaryIdNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SocialSecurityNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonalInfo" nillable="true" type="tns:PersonalInfo" />
  <xs:complexType name="DriversLicense">
    <xs:sequence>
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" type="tns:TypeStateProvince" />
      <xs:element minOccurs="0" name="Track1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Track2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DriversLicense" nillable="true" type="tns:DriversLicense" />
  <xs:simpleType name="TypeStateProvince">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotSet" />
      <xs:enumeration value="AL" />
      <xs:enumeration value="AK" />
      <xs:enumeration value="AS" />
      <xs:enumeration value="AZ" />
      <xs:enumeration value="AR" />
      <xs:enumeration value="CA" />
      <xs:enumeration value="CO" />
      <xs:enumeration value="CT" />
      <xs:enumeration value="DE" />
      <xs:enumeration value="DC" />
      <xs:enumeration value="FM" />
      <xs:enumeration value="FL" />
      <xs:enumeration value="GA" />
      <xs:enumeration value="GU" />
      <xs:enumeration value="HI" />
      <xs:enumeration value="ID" />
      <xs:enumeration value="IL" />
      <xs:enumeration value="IN" />
      <xs:enumeration value="IA" />
      <xs:enumeration value="KS" />
      <xs:enumeration value="KY" />
      <xs:enumeration value="LA" />
      <xs:enumeration value="ME" />
      <xs:enumeration value="MH" />
      <xs:enumeration value="MD" />
      <xs:enumeration value="MA" />
      <xs:enumeration value="MI" />
      <xs:enumeration value="MN" />
      <xs:enumeration value="MS" />
      <xs:enumeration value="MO" />
      <xs:enumeration value="MT" />
      <xs:enumeration value="NE" />
      <xs:enumeration value="NV" />
      <xs:enumeration value="NH" />
      <xs:enumeration value="NJ" />
      <xs:enumeration value="NM" />
      <xs:enumeration value="NY" />
      <xs:enumeration value="NC" />
      <xs:enumeration value="ND" />
      <xs:enumeration value="MP" />
      <xs:enumeration value="OH" />
      <xs:enumeration value="OK" />
      <xs:enumeration value="OR" />
      <xs:enumeration value="PW" />
      <xs:enumeration value="PA" />
      <xs:enumeration value="PR" />
      <xs:enumeration value="RI" />
      <xs:enumeration value="SC" />
      <xs:enumeration value="SD" />
      <xs:enumeration value="TN" />
      <xs:enumeration value="TX" />
      <xs:enumeration value="UT" />
      <xs:enumeration value="VT" />
      <xs:enumeration value="VI" />
      <xs:enumeration value="VA" />
      <xs:enumeration value="WA" />
      <xs:enumeration value="WV" />
      <xs:enumeration value="WI" />
      <xs:enumeration value="WY" />
      <xs:enumeration value="AA" />
      <xs:enumeration value="AE" />
      <xs:enumeration value="AP" />
      <xs:enumeration value="AB" />
      <xs:enumeration value="BC" />
      <xs:enumeration value="MB" />
      <xs:enumeration value="NB" />
      <xs:enumeration value="NF" />
      <xs:enumeration value="NT" />
      <xs:enumeration value="NS" />
      <xs:enumeration value="NU" />
      <xs:enumeration value="ON" />
      <xs:enumeration value="PE" />
      <xs:enumeration value="QC" />
      <xs:enumeration value="SK" />
      <xs:enumeration value="YK" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TypeStateProvince" nillable="true" type="tns:TypeStateProvince" />
  <xs:complexType name="TransactionReportingData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionReportingData" nillable="true" type="tns:TransactionReportingData" />
  <xs:complexType name="TransactionTenderData">
    <xs:sequence>
      <xs:element minOccurs="0" name="PaymentAccountDataToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurePaymentAccountData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EncryptionKeyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SwipeStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceSerialNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionTenderData" nillable="true" type="tns:TransactionTenderData" />
  <xs:simpleType name="CVDataProvided">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotSet" />
      <xs:enumeration value="DeliberatelyBypass" />
      <xs:enumeration value="Provided" />
      <xs:enumeration value="ValueIllegible" />
      <xs:enumeration value="CardholderStatesNotAvailable" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CVDataProvided" nillable="true" type="tns:CVDataProvided" />
  <xs:complexType name="TransactionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CurrencyCode" type="tns:TypeISOCurrencyCodeA3" />
      <xs:element minOccurs="0" name="TransactionDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CampaignId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionData" nillable="true" type="tns:TransactionData" />
  <xs:simpleType name="TypeISOCurrencyCodeA3">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotSet" />
      <xs:enumeration value="AFN" />
      <xs:enumeration value="ALL" />
      <xs:enumeration value="DZD" />
      <xs:enumeration value="USD" />
      <xs:enumeration value="EUR" />
      <xs:enumeration value="AOA" />
      <xs:enumeration value="XCD" />
      <xs:enumeration value="ARS" />
      <xs:enumeration value="AMD" />
      <xs:enumeration value="AWG" />
      <xs:enumeration value="AUD" />
      <xs:enumeration value="AZN" />
      <xs:enumeration value="BSD" />
      <xs:enumeration value="BHD" />
      <xs:enumeration value="BDT" />
      <xs:enumeration value="BBD" />
      <xs:enumeration value="BYR" />
      <xs:enumeration value="BZD" />
      <xs:enumeration value="BMD" />
      <xs:enumeration value="BTN" />
      <xs:enumeration value="BOB" />
      <xs:enumeration value="BOV" />
      <xs:enumeration value="BAM" />
      <xs:enumeration value="BWP" />
      <xs:enumeration value="BRL" />
      <xs:enumeration value="BND" />
      <xs:enumeration value="BGN" />
      <xs:enumeration value="XOF" />
      <xs:enumeration value="BIF" />
      <xs:enumeration value="KHR" />
      <xs:enumeration value="CAD" />
      <xs:enumeration value="CVE" />
      <xs:enumeration value="KYD" />
      <xs:enumeration value="CLP" />
      <xs:enumeration value="CLF" />
      <xs:enumeration value="CNY" />
      <xs:enumeration value="COP" />
      <xs:enumeration value="COU" />
      <xs:enumeration value="KMF" />
      <xs:enumeration value="XAF" />
      <xs:enumeration value="CDF" />
      <xs:enumeration value="CRC" />
      <xs:enumeration value="HRK" />
      <xs:enumeration value="CUP" />
      <xs:enumeration value="CYP" />
      <xs:enumeration value="CZK" />
      <xs:enumeration value="DKK" />
      <xs:enumeration value="DJF" />
      <xs:enumeration value="DOP" />
      <xs:enumeration value="EGP" />
      <xs:enumeration value="SVC" />
      <xs:enumeration value="ERN" />
      <xs:enumeration value="EEK" />
      <xs:enumeration value="ETB" />
      <xs:enumeration value="FKP" />
      <xs:enumeration value="FJD" />
      <xs:enumeration value="GMD" />
      <xs:enumeration value="GEL" />
      <xs:enumeration value="GHS" />
      <xs:enumeration value="GIP" />
      <xs:enumeration value="GTQ" />
      <xs:enumeration value="GNF" />
      <xs:enumeration value="GWP" />
      <xs:enumeration value="GYD" />
      <xs:enumeration value="HTG" />
      <xs:enumeration value="HNL" />
      <xs:enumeration value="HKD" />
      <xs:enumeration value="HUF" />
      <xs:enumeration value="ISK" />
      <xs:enumeration value="INR" />
      <xs:enumeration value="IDR" />
      <xs:enumeration value="XDR" />
      <xs:enumeration value="IRR" />
      <xs:enumeration value="IQD" />
      <xs:enumeration value="ILS" />
      <xs:enumeration value="JMD" />
      <xs:enumeration value="JPY" />
      <xs:enumeration value="JOD" />
      <xs:enumeration value="KZT" />
      <xs:enumeration value="KES" />
      <xs:enumeration value="KPW" />
      <xs:enumeration value="KRW" />
      <xs:enumeration value="KWD" />
      <xs:enumeration value="KGS" />
      <xs:enumeration value="LAK" />
      <xs:enumeration value="LVL" />
      <xs:enumeration value="LBP" />
      <xs:enumeration value="LSL" />
      <xs:enumeration value="LRD" />
      <xs:enumeration value="LYD" />
      <xs:enumeration value="LTL" />
      <xs:enumeration value="MOP" />
      <xs:enumeration value="MKD" />
      <xs:enumeration value="MGA" />
      <xs:enumeration value="MWK" />
      <xs:enumeration value="MYR" />
      <xs:enumeration value="MVR" />
      <xs:enumeration value="MTL" />
      <xs:enumeration value="MRO" />
      <xs:enumeration value="MUR" />
      <xs:enumeration value="MXN" />
      <xs:enumeration value="MXV" />
      <xs:enumeration value="MDL" />
      <xs:enumeration value="MNT" />
      <xs:enumeration value="MAD" />
      <xs:enumeration value="MZN" />
      <xs:enumeration value="MMK" />
      <xs:enumeration value="NAD" />
      <xs:enumeration value="NPR" />
      <xs:enumeration value="ANG" />
      <xs:enumeration value="XPF" />
      <xs:enumeration value="NZD" />
      <xs:enumeration value="NIO" />
      <xs:enumeration value="NGN" />
      <xs:enumeration value="NOK" />
      <xs:enumeration value="OMR" />
      <xs:enumeration value="PKR" />
      <xs:enumeration value="PAB" />
      <xs:enumeration value="PGK" />
      <xs:enumeration value="PYG" />
      <xs:enumeration value="PEN" />
      <xs:enumeration value="PHP" />
      <xs:enumeration value="PLN" />
      <xs:enumeration value="QAR" />
      <xs:enumeration value="RON" />
      <xs:enumeration value="RUB" />
      <xs:enumeration value="RWF" />
      <xs:enumeration value="SHP" />
      <xs:enumeration value="WST" />
      <xs:enumeration value="STD" />
      <xs:enumeration value="SAR" />
      <xs:enumeration value="RSD" />
      <xs:enumeration value="SCR" />
      <xs:enumeration value="SLL" />
      <xs:enumeration value="SGD" />
      <xs:enumeration value="SKK" />
      <xs:enumeration value="SBD" />
      <xs:enumeration value="SOS" />
      <xs:enumeration value="ZAR" />
      <xs:enumeration value="LKR" />
      <xs:enumeration value="SDG" />
      <xs:enumeration value="SRD" />
      <xs:enumeration value="SZL" />
      <xs:enumeration value="SEK" />
      <xs:enumeration value="CHF" />
      <xs:enumeration value="CHW" />
      <xs:enumeration value="CHE" />
      <xs:enumeration value="SYP" />
      <xs:enumeration value="TWD" />
      <xs:enumeration value="TJS" />
      <xs:enumeration value="TZS" />
      <xs:enumeration value="THB" />
      <xs:enumeration value="TOP" />
      <xs:enumeration value="TTD" />
      <xs:enumeration value="TND" />
      <xs:enumeration value="TRY" />
      <xs:enumeration value="TMM" />
      <xs:enumeration value="UGX" />
      <xs:enumeration value="UAH" />
      <xs:enumeration value="AED" />
      <xs:enumeration value="GBP" />
      <xs:enumeration value="USS" />
      <xs:enumeration value="USN" />
      <xs:enumeration value="UYU" />
      <xs:enumeration value="UYI" />
      <xs:enumeration value="UZS" />
      <xs:enumeration value="VUV" />
      <xs:enumeration value="VEF" />
      <xs:enumeration value="VND" />
      <xs:enumeration value="YER" />
      <xs:enumeration value="ZMK" />
      <xs:enumeration value="ZWD" />
      <xs:enumeration value="XBA" />
      <xs:enumeration value="XBB" />
      <xs:enumeration value="XBC" />
      <xs:enumeration value="XBD" />
      <xs:enumeration value="XPD" />
      <xs:enumeration value="XPT" />
      <xs:enumeration value="XAG" />
      <xs:enumeration value="XAU" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TypeISOCurrencyCodeA3" nillable="true" type="tns:TypeISOCurrencyCodeA3" />
  <xs:complexType name="PINlessDebitData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillPayServiceData" nillable="true" type="tns:BillPayServiceData" />
      <xs:element minOccurs="0" name="PayeeData" nillable="true" type="tns:PayeeData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PINlessDebitData" nillable="true" type="tns:PINlessDebitData" />
  <xs:complexType name="BillPayServiceData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyAddress" nillable="true" type="tns:AddressInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillPayServiceData" nillable="true" type="tns:BillPayServiceData" />
  <xs:complexType name="PayeeData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PayeeData" nillable="true" type="tns:PayeeData" />
  <xs:simpleType name="EntryMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotSet" />
      <xs:enumeration value="Keyed" />
      <xs:enumeration value="KeyedBadMagRead" />
      <xs:enumeration value="TrackDataFromMSR" />
      <xs:enumeration value="ChipReliable" />
      <xs:enumeration value="ChipUnreliable" />
      <xs:enumeration value="ContactlessMChipOrSmartCard" />
      <xs:enumeration value="ContactlessStripe" />
      <xs:enumeration value="TerminalNotUsed" />
      <xs:enumeration value="BarCode" />
      <xs:enumeration value="OCRReader" />
      <xs:enumeration value="VSCCapable" />
      <xs:enumeration value="ChipTrackDataFromRFID" />
      <xs:enumeration value="MSRTrackDataFromRFID" />
      <xs:enumeration value="NFCCapable" />
      <xs:enumeration value="Track2DataFromMSR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EntryMode" nillable="true" type="tns:EntryMode" />
  <xs:complexType name="AlternativeMerchantData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerServiceInternet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerServicePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:AddressInfo" />
      <xs:element minOccurs="0" name="MerchantId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlternativeMerchantData" nillable="true" type="tns:AlternativeMerchantData" />
  <xs:complexType name="Return">
    <xs:sequence>
      <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Addendum" nillable="true" type="tns:Addendum" />
      <xs:element minOccurs="0" name="TransactionDateTime" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Return" nillable="true" type="tns:Return" />
  <xs:complexType name="Undo">
    <xs:sequence>
      <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Addendum" nillable="true" type="tns:Addendum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Undo" nillable="true" type="tns:Undo" />
  <xs:complexType name="Capture">
    <xs:sequence>
      <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Addendum" nillable="true" type="tns:Addendum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Capture" nillable="true" type="tns:Capture" />
  <xs:complexType name="Manage">
    <xs:sequence>
      <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Addendum" nillable="true" type="tns:Addendum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Manage" nillable="true" type="tns:Manage" />
  <xs:complexType name="Resubmit">
    <xs:sequence>
      <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.evosnap.com/CWS/v2.0/Transactions/Bankcard" minOccurs="0" name="ResubmitReason" type="q2:ResubmitReason" />
      <xs:element minOccurs="0" name="CVV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Addendum" nillable="true" type="tns:Addendum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Resubmit" nillable="true" type="tns:Resubmit" />
  <xs:complexType name="Adjust">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Addendum" nillable="true" type="tns:Addendum" />
      <xs:element minOccurs="0" name="TipAmount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Adjust" nillable="true" type="tns:Adjust" />
  <xs:complexType name="ArrayOfCapture">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Capture" nillable="true" type="tns:Capture" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCapture" nillable="true" type="tns:ArrayOfCapture" />
  <xs:complexType name="ArrayOfResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Response" nillable="true" type="tns:Response" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResponse" nillable="true" type="tns:ArrayOfResponse" />
</xs:schema>