source/WebServiceProxies/WSDL/schemas.evosnap.com_CWS_v2.0_Transactions_Faults.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.evosnap.com/CWS/v2.0/Transactions/Faults" elementFormDefault="qualified" targetNamespace="http://schemas.evosnap.com/CWS/v2.0/Transactions/Faults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="schemas.evosnap.com_CWS_v2.0_Transactions.xsd" namespace="http://schemas.evosnap.com/CWS/v2.0/Transactions" />
  <xs:complexType name="CWSInvalidServiceInformationFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CWSBaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CWSInvalidServiceInformationFault" nillable="true" type="tns:CWSInvalidServiceInformationFault" />
  <xs:complexType name="CWSBaseFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="BatchId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorID" type="xs:int" />
      <xs:element minOccurs="0" name="HelpURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProblemType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.evosnap.com/CWS/v2.0/Transactions" minOccurs="0" name="TransactionState" type="q1:TransactionState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CWSBaseFault" nillable="true" type="tns:CWSBaseFault" />
  <xs:complexType name="CWSDeserializationFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CWSBaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CWSDeserializationFault" nillable="true" type="tns:CWSDeserializationFault" />
  <xs:complexType name="CWSConnectionFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CWSBaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CWSConnectionFault" nillable="true" type="tns:CWSConnectionFault" />
  <xs:complexType name="CWSTransactionServiceUnavailableFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CWSBaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CWSTransactionServiceUnavailableFault" nillable="true" type="tns:CWSTransactionServiceUnavailableFault" />
  <xs:complexType name="CWSTransactionAlreadySettledFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CWSBaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CWSTransactionAlreadySettledFault" nillable="true" type="tns:CWSTransactionAlreadySettledFault" />
  <xs:complexType name="CWSValidationResultFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CWSBaseFault">
        <xs:sequence>
          <xs:element minOccurs="0" name="Errors" nillable="true" type="tns:ArrayOfCWSValidationErrorFault" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CWSValidationResultFault" nillable="true" type="tns:CWSValidationResultFault" />
  <xs:complexType name="ArrayOfCWSValidationErrorFault">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CWSValidationErrorFault" nillable="true" type="tns:CWSValidationErrorFault" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCWSValidationErrorFault" nillable="true" type="tns:ArrayOfCWSValidationErrorFault" />
  <xs:complexType name="CWSValidationErrorFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorType" type="tns:CWSValidationErrorFault.EErrorType" />
      <xs:element minOccurs="0" name="RuleKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RuleLocationKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RuleMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CWSValidationErrorFault" nillable="true" type="tns:CWSValidationErrorFault" />
  <xs:simpleType name="CWSValidationErrorFault.EErrorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Validation" />
      <xs:enumeration value="Processing" />
      <xs:enumeration value="System" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CWSValidationErrorFault.EErrorType" nillable="true" type="tns:CWSValidationErrorFault.EErrorType" />
  <xs:complexType name="CWSFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CWSBaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CWSFault" nillable="true" type="tns:CWSFault" />
  <xs:complexType name="CWSTransactionFailedFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CWSBaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CWSTransactionFailedFault" nillable="true" type="tns:CWSTransactionFailedFault" />
  <xs:complexType name="CWSExtendedDataNotSupportedFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CWSBaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CWSExtendedDataNotSupportedFault" nillable="true" type="tns:CWSExtendedDataNotSupportedFault" />
  <xs:complexType name="CWSInvalidMessageFormatFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CWSBaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CWSInvalidMessageFormatFault" nillable="true" type="tns:CWSInvalidMessageFormatFault" />
  <xs:complexType name="CWSOperationNotSupportedFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CWSBaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CWSOperationNotSupportedFault" nillable="true" type="tns:CWSOperationNotSupportedFault" />
  <xs:complexType name="CWSInvalidOperationFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CWSBaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CWSInvalidOperationFault" nillable="true" type="tns:CWSInvalidOperationFault" />
</xs:schema>